body {
			background: #F0F3FA;
background: -webkit-linear-gradient(top left, #F0F3FA, #8B6469);
background: -moz-linear-gradient(top left, #F0F3FA, #8B6469);
background: linear-gradient(to bottom right, #F0F3FA, #8B6469);
font-family: 'Questrial', sans-serif;
		}
		.row {
			justify-content: center;
		}

		.main {
			margin-top: 100px;
		}

		.mid-image {
			width: 120px;
		}