.loginBoxes
{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
  gap: 20px;
  font-size: xx-large;
}

.initialHeader
{
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  font-size: x-large;

}

.userPass
{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: large;

}
.AccountPrompts
{
  display: flex;
  flex-flow: column wrap;
  justify-content: left;
  text-align: left;
  align-items: left;
  font-size: large;

}
.button
{
	background-color: white;
	color: black;
	padding: 15px;
	margin: 15px;
	border-radius:8px;
	display: block;
	width:250px;
	text-align: center;
	text-decoration:none;
	border:none;
	font-size:18px;
	font-weight:bold;
	cursor:pointer;
}
.signUpButton
{
	background-color: GoldenRod;
	color: black;
	padding: 5px;
	margin: 15px;
	border-radius:8px;
	display: block;
	width:200px;
	text-align: center;
	text-decoration:none;
	border:none;
	font-size:18px;
	font-weight:bold;
	cursor:pointer;
}
.homepageHeader
{
	background-color: black;
	color: GoldenRod;
	display: flex;
	flex-flow: column wrap;
	font-size: 20px;
}
ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li
{
	display: inline;
}
.profile
{
	background-color: GoldenRod;
	color: black;
	padding: 5px;
	margin: 15px;
	border-radius:8px;
	display: block;
	width:200px;
	text-align: center;
	text-decoration:none;
	border:none;
	font-size:18px;
	font-weight:bold;
	cursor:pointer;
}